input[type=number] {
    color: white; 
    font-size: 13px;
    font-weight: 700;
    padding: px;}
    input[type=number]#number1 {
    color: darkblue;
        background-color:aqua; 
    }
    input[type=number]#number2 {
    color: green;
        background-color:rgba(255, 0, 179, 0.507); 
    }
    input[type=number]#number3 {
    color: orange;
        background-color:rgb(55, 0, 255); 
    }